---
import Layout from '../layouts/Layout.astro'
import Banner from '../components/content/Banner.astro'
import Projects from '../components/content/Projects'
import Tech from '../components/content/Tech.astro'
import About from '../components/content/About.astro'
import Buttons from '../components/structure/Buttons.astro'
---

<Layout>
    <main class="relative">
        <Buttons />
        <div id="banner">
            <Banner />
        </div>
        <div
            id="projects"
            class="min-h-screen grid place-content-center before:h-2 before:absolute before:w-full before:-skew-y-[14deg] before:z-[-1] before:bg-gray-200 relative before:top-0 before:right-0 after:h-1 after:absolute after:w-full after:skew-y-[15deg] after:z-[-1] after:bg-gray-200 after:top-72"
        >
            <Projects client:load />
        </div>
        <div
            id="tech"
            class="before:h-2 before:absolute before:w-full before:-skew-y-[24deg] before:z-[-1] before:bg-gray-200 relative before:top-0 before:right-0 after:h-1 after:absolute after:w-full after:skew-y-[15deg] after:z-[-1] after:bg-gray-200 after:bottom-32"
        >
            <Tech />
        </div>
        <div
            id="about"
            class="before:h-2 before:absolute before:w-full before:-skew-y-[34deg] before:z-[-1] before:bg-gray-200 relative before:top-0 before:right-0 after:h-1 after:absolute after:w-full after:skew-y-[5deg] after:z-[-1] after:bg-gray-200 after:bottom-32"
        >
            <About />
        </div>
    </main>
</Layout>

<script>
    const emailDiv = document.getElementById('copyEmail')
    emailDiv?.addEventListener('click', function () {
        navigator.clipboard.writeText('mylessworkemail@gmail')
        this.innerText = 'Copied!'
    })

    const positionIds = ['banner', 'projects', 'tech', 'about']
    let currentPosition = 0
    const upBtn = document.getElementById('upBtn')
    const downBtn = document.getElementById('downBtn')
    const bannerIds = ['projectBtn', 'techBtn', 'aboutBtn']

    bannerIds.forEach((e, i) => {
        const ele = document.getElementById(e)
        const tab = positionIds[i + 1]
        ele?.addEventListener('click', () =>
            tab
                ? [
                      document
                          .getElementById(tab)
                          ?.scrollIntoView({ behavior: 'smooth' }),
                      (currentPosition = positionIds.indexOf(tab)),
                  ]
                : null
        )
    })

    upBtn?.addEventListener('click', function () {
        if (currentPosition > 0) {
            currentPosition--
            const spot = positionIds[currentPosition]
            spot
                ? document
                      .getElementById(spot)
                      ?.scrollIntoView({ behavior: 'smooth' })
                : console.log('not working')
        }
    })

    downBtn?.addEventListener('click', function () {
        if (currentPosition < positionIds.length - 1) {
            currentPosition++
            const spot = positionIds[currentPosition]
            spot
                ? document
                      .getElementById(spot)
                      ?.scrollIntoView({ behavior: 'smooth' })
                : console.log('not working')
        }
    })
</script>
