<div
    class="flex flex-row [&>a>div>span]:pr-2 mt-4 justify-around align-middle [&>a>div>span]:font-HindReg [&>a>div>span]:text-black text-xl"
>
    <a href="https://github.com/Dev-Myles">
        <div class="flex items-center hover:scale-105 ease-in-out duration-300">
            <span class="">GitHub</span>
            <iconify-icon
                icon="akar-icons:github-fill"
                style="color: black;"
                width="30"
                height="30"
            />
        </div>
    </a>
    <a href="https://www.linkedin.com/in/myles-aler-dev-myles-ongithub/">
        <div class="flex items-center hover:scale-105 ease-in-out duration-300">
            <span>LinkedIn</span>
            <iconify-icon
                icon="akar-icons:linkedin-box-fill"
                style="color: black;"
                width="30"
                height="30"
            />
        </div>
    </a>
</div>
<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"
></script>
<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"
></script>
<style>
    span: {
        font-family: 'Poppins-ExtraBold';
    }
</style>
